@import '~bootstrap/dist/css/bootstrap.css';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

.title {
    text-align: center;
}

.currency-container {
    text-align: center;

    .image {
        width: 200px;
        height: 200px;
        margin: 30px auto;
    }

}

.currency-info {
    h5 {
        font-size: 3em;
    }
}

.footer {
    text-align: center;
}

.overlay {
    z-index: 9999999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(252, 163, 104);
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
}

.__hidden {
    display: none;
}